In [1]:
import pandas as pd
data = {'Name': ['Alice', 'Smith', 'Bob'],
        'Age': ['25', '30', '22'],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

    Name Age      City
0  Alice  25  New York
1  Smith  30    London
2    Bob  22     Paris

In [6]:
df.to_csv('exported_data.csv', index=False)

In [7]:
imported_df = pd.read_csv('exported_data.csv')

In [8]:
print(imported_df)

    Name  Age      City
0  Alice   25  New York
1  Smith   30    London
2    Bob   22     Paris

In [11]:
df.to_excel('exported_data.xlsx', sheet_name='Sheet1', index=False)

In [12]:
imported_df_excel = pd.read_excel('exported_data.xlsx', sheet_name='Sheet1')

In [13]:
print(imported_df_excel)

    Name  Age      City
0  Alice   25  New York
1  Smith   30    London
2    Bob   22     Paris